<template name="landingPage">
  <div id="landing-page">
    <!-- Carousel
     ================================================== -->
    <div id="corousel-wrapper">
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <img src="/assets/images/landingPage.jpg" alt="">

            <div class="container">
              <div class="carousel-caption">
                <h1><strong>Weil ich dich mag !</strong></h1>

                <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                  elit
                  non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id
                  elit.</p>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="../assets/images/landingPage.jpg" alt="">

            <div class="container">
              <div class="carousel-caption">
                <h1><strong>Another example headline.</strong></h1>

                <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id
                  elit
                  non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id
                  elit.</p>
              </div>
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>
    <div class="row" id="ordering-steps">
      <h1 class="sub-headline"><strong>Wie funktioniert bonbeo ?</strong></h1>

      <a href="/companies">
        <div class="col-md-15 col-sm-3 align-center">
          <img src="/assets/images/icons/findlabel_icon_active.png" alt="laden waehlen"/>

          <h2>1. Laden wählen</h2>

          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
            sed diam nonumy eirmod tempor
            invidunt ut labore
          </p>
        </div>
      </a>

      <a href="/companies">
        <div class="col-md-15 col-sm-3 align-center">
          <img src="/assets/images/icons/value_icon_passive.png" alt="betrag waehlen"/>

          <h2>2. Betrag wählen</h2>

          <p>
            Dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum
          </p>
        </div>
      </a>
      <a href="/companies">
        <div class="col-md-15 col-sm-3 align-center">
          <img src="/assets/images/icons/choose_design_passive.png" alt="design auswählen"/>

          <h2>3. Design wählen</h2>

          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
            sed diam nonumy eirmod tempor
            invidunt ut labore
          </p>
        </div>
      </a>
      <a href="/companies">
        <div class="col-md-15 col-sm-3 align-center">
          <img src="/assets/images/icons/design_icon_passive.png" alt="design erstellen"/>

          <h2>4. Design anpassen</h2>

          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
            sed diam nonumy eirmod tempor
            invidunt ut labore
          </p>
        </div>
      </a>
      <a href="/companies">
        <div class="col-md-15 col-sm-3 align-center">
          <img src="/assets/images/icons/donate_icon_passive.png" alt="schenken"/>

          <h2>4. Schenken</h2>

          <p>
            Dolore magna aliquyam erat, sed diam voluptua.
            At vero eos et accusam et justo duo dolores et ea rebum
          </p>

        </div>
      </a>

      <div class="col-md-12 text-center">
        <a href="/" class=" btn checkoutButton">Gutschein erstellen</a><br>
      </div>
    </div>


    <div class="row" id="landing-video">
      <div class="row-height">
        <div class="col-md-4 col-height orange-gradient">
          <div class="text-left">
            <h2>Heading</h2>

            <p>
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
              et dolore magna aliquyam erat,
              sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
              sea takimata sanctus est Lorem
              ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
              tempor invidunt ut labore et dolore
              magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
              clita kasd gubergren, no sea
              takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
              sed diam nonumy eirmod tempor
              invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
              dolores et ea rebum.
              Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </p>
          </div>
        </div>
        <div class="col-md-8 col-height col-top">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY"></iframe>
          </div>
        </div>
      </div>
    </div>

    <section id="our-partner" class="row">
      <div class="our-partner-content">
        <h1 class="sub-headline"><strong>Unsere Partner</strong></h1>
        <ul class="bxslider">
          <li><img src="assets/images/company_logos/ca_logo.jpg"/></li>
          <li><img src="assets/images/company_logos/douglas_logo.jpg"/></li>
          <li><img src="assets/images/company_logos/hm_logo.jpg"/></li>
          <li><img src="assets/images/company_logos/zara_logo.jpg"/></li>

          <li><img src="assets/images/company_logos/hm_logo.jpg"/></li>
          <li><img src="assets/images/company_logos/hm_logo.jpg"/></li>
          <li><img src="assets/images/company_logos/hm_logo.jpg"/></li>
          <li><img src="assets/images/company_logos/hm_logo.jpg"/></li>

          <li><img src="assets/images/company_logos/douglas_logo.jpg"/></li>
          <li><img src="assets/images/company_logos/douglas_logo.jpg"/></li>
          <li><img src="assets/images/company_logos/douglas_logo.jpg"/></li>
          <li><img src="assets/images/company_logos/douglas_logo.jpg"/></li>
        </ul>
      </div>
    </section>
    <section class="row create-voucher-wrapper orange-gradient">
      <div class="create-voucher-content">
        <h2>Erstelle jetzt deinen individuellen Gutschein</h2>

        <div class="create-voucher-link">
          <a href="/companies">Jetzt loslegen</a>
        </div>
      </div>
    </section>
  </div>
</template>