<template name="footer">
  <footer class="row text-center">
    <img id="logo-footer" src="assets/images/logoFooter.png" alt="bonbeo logo"/>
    <div class="menu-outer">
      <div class="table">
        <ul id="horizontal-list">
          <li><a href="/#">Über Uns</a></li>
          <li><a href="/#">Geschichte</a></li>
          <li><a href="/#">Impressum</a></li>
          <li><a href="/#">Datenschutzerklärung</a></li>
          <li><a href="/#">Haftungsausschluss</a></li>
          <li><a href="/#">AGB</a></li>
        </ul>
      </div>
    </div>
    <div class="text-center" id="footer-social-media-icons">
      <img src="/assets/images/icons/social_media/facebook_footer.png" alt="facebook logo"/>
      <img src="/assets/images/icons/social_media/twitter_footer.png" alt="twitter logo"/>
      <img src="/assets/images/icons/social_media/youtube_footer.png" alt="facebook logo"/>
    </div>
    <div class="row text-center" id="copyright">
      <p>Copyright BONBEO 2015</p>
    </div>
  </footer>
</template>