<template name="companyItem">
  <!--<div class="col-md-3 company-item">-->
    <!--<span class="caption">-->
    <!--<article class="company-item-content">-->
    <!--<h4>{{companyName}}</h4>-->
      <!--<p class="strong"><span class="company-item-description">Branche:</span>Mode</p>-->
      <!--<p class="strong"><span class="company-item-description">Stadt:</span>München</p>-->
      <!--<p class="strong"><span class="company-item-description">Info:-->
      <!--</span>-->
        <!--<span class="company-item-description">&nbsp;</span>-->
        <!--Platzhalterinformation-->
        <!--über Geschäft oder Geschäftsbereiche-->
      <!--</p>-->
      <!--<p class="strong"><span class="company-item-description">Web:</span>www.example.com</p>-->
    <!--</article>-->
    <!--<div>-->
      <!--<a class="strong text-uppercase" href="/value">Auswählen</a>-->
    <!--</div>-->
  <!--</span>-->
    <!--<img class="img-responsive" src="{{logoUrl}}">-->
    <!--<hr>-->
    <!--<div>-->
      <!--<p>{{companyName}}</p>-->
      <!--<a class="strong" href="#">erfahre mehr</a>-->
    <!--</div>-->
  <!--</div>-->


  <div class="col-md-3 company-item">
    <span class="caption">
    <article class="company-item-content">
      <h4>{{companyName}}</h4>

      <table>
        <tr>
          <td>Branche:</td>
          <td>Mode</td>
        </tr>
        <tr>
          <td>Stadt:</td>
          <td>München</td>
        </tr>
        <tr>
          <td>Info:</td>
          <td>Platzhalterinformation <br/>
            über Geschäft oder Geschäftsbereiche</td>
        </tr>
        <tr>
          <td>Web:</td>
          <td>www.example.com</td>
        </tr>
      </table>
    </article>
      <a class="strong text-uppercase" href="/value">Auswählen</a>
  </span>
    <img class="img-responsive" src="{{logoUrl}}">
    <hr>
    <div>
      <p>{{companyName}}</p>
      <a class="strong" href="#">erfahre mehr</a>
    </div>
  </div>








</template>
