<template name="designsList">
  <div class="row text-center">
    <div class="sub-nav-header">
      {{>currentProgressNavigation}}
      <img src="/assets/images/icons/design_icon_active.png" alt="laden waehlen"/>

      <h1>4. Design anpassen</h1>

      <a class="btn checkoutButton" href="/checkout">DESIGN FERTIG</a>
    </div>
  </div>
  <div class="row" id="designToolbarWrapper">
    <div class="col-md-12">
      <hr/>
      <div class="clearfix center-block" id="toolbar">
        <a href="#"><img class="pull-left" src="/assets/images/icons/undo50x50.png" alt=""/></a>
        <a href="#"><img class="pull-left" src="/assets/images/icons/redo50x50.png" alt=""/></a>
        <a id="colorpicker" href="#"><img class="pull-left" src="/assets/images/icons/insertColor50x50.png"
                                          alt=""/></a>
        <a href="#"><img class="pull-left" src="/assets/images/icons/insertText50x50.png" alt=""/></a>
        <a data-toggle="modal" data-target="#imageUploadModal" href="#"> <img class="pull-left"
                                                                              src="/assets/images/icons/insertImg50x50.png"
                                                                              alt=""/></a>
        <a data-toggle="modal" data-target="#effectsModal" href="#"><img class="pull-left"
                                                                         src="/assets/images/icons/insertEffects50x50.png"
                                                                         alt=""/></a>
      </div>
      <hr/>
    </div>
  </div>

  <div id="designProgressContainer">
    {{> Template.dynamic template=template data=data}}
  </div>

  <!--Modal -->
  <div class="modal fade" id="imageUploadModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" style="Width: 100%;" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modalLabel">Bild zuschneiden</h4>
        </div>
        <div class="modal-body">
          <input id="uploadField" class="btn btn-primary btn-file" type="file" data-provides="fileupload">
          <!--Working <div id="uploadContainer">-->
          <!--<img src="{{images.url store='images' uploading='/images/uploading.gif' storing='/images/storing.gif'}}"/>-->
          <!--</div>-->
          <div id="uploadContainer">
            <!--<img src="{{images.url store='images' uploading='/images/uploading.gif' storing='/images/storing.gif'}}"/>-->
            <hr/>
            {{> editImage}}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!--Modal -->
  <div class="modal fade" id="effectsModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" style="Width: 100%;" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="modalLabel">Bild zuschneiden</h4>
        </div>
        <div class="modal-body">
          <div class="row" id="effects-container">
            <div class="col-md-6">

            </div>

            <div class="col-md-6">

            </div>

            <div id="slider"></div>
            <div id="slider-range-value"></div>

            <div class="sliders">
              <form id="imageEditor" style="float:left; width: 50%;">
                <p>
                  <label for="gs">Grayscale</label>
                  <input id="gs" name="gs" type="range" min=0 max=100 value=0>
                </p>

                <button id="grayscaleBtn">Click</button>

                <p>
                  <label for="blur">Blur</label>
                  <input id="blur" name="blur" type="range" min=0 max=10 value=0>
                </p>

                <p>
                  <label for="br">Brightness</label>
                  <input id="br" name="br" type="range" min=0 max=200 value=100>
                </p>

                <p>
                  <label for="ct">Contrast</label>
                  <input id="ct" name="ct" type="range" min=0 max=200 value=100>
                </p>

                <p>
                  <label for="huer">Hue Rotate</label>
                  <input id="huer" name="huer" type="range" min=0 max=360 value=0>
                </p>

                <p>
                  <label for="opacity">Opacity</label>
                  <input id="opacity" name="opacity" type="range" min=0 max=100 value=100>
                </p>

                <p>
                  <label for="invert">Invert</label>
                  <input id="invert" name="invert" type="range" min=0 max=100 value=0>
                </p>

                <p>
                  <label for="saturate">Saturate</label>
                  <input id="saturate" name="saturate" type="range" min=0 max=500 value=100>
                </p>

                <p>
                  <label for="sepia">Sepia</label>
                  <input id="sepia" name="sepia" type="range" min=0 max=100 value=0>
                </p>

                <input type="reset" form="imageEditor" id="reset" value="Reset" />

              </form>
            </div>

            <!--container where image will be loaded-->
            <div id="imageContainer" class="center" style="float:left; width: 50%;">
              <img src="assets/images/example.jpg"/>
            </div>
          </div>









          </div>
        </div>
      </div>
    </div>
</template>