<template name="designItem">
  <div class="company pull-left thumbnail">
    <div class="companyLogoWrapper">
              <span class="caption animated">
                  <h4>{{companyName}}</h4>
                  <p>Branche:</p>
                  <p>Stadt:</p>
                  <p>Info:</p>
                  <p>Web: www.example.com</p>
              </span>
      <img class="img-responsive" src="{{logoUrl}}">
    </div>
    <hr>
    <div>
      <p>{{companyName}}</p>
      <a href="#">Erfahren Sie mehr</a>
    </div>
  </div>
</template>

